{% extends 'index.html' %}

{% block titulo %}
    Listado de Autores
{% endblock titulo %}

{% block body %}

    {% if autores %}
        <table class ="table table-striped">
            <thead class="thead-ligth">
            <tr>
                <th scoop="col">#</th>
                <th scoop="col">Nombres</th>
                <th scoop="col">Apellidos</th>
                <th scoop="col">Nacionalidad</th>
                <th scoop="col">Descripcion</th>
                <th scoop="col">Opciones:</th>
            </tr>
            </thead>
            <tbody>
            {% for autor in autores %}
                <tr>
                    <td>{{ autor.id }}</td>
                    <td>{{ autor.nombre }}</td>
                    <td>{{ autor.apellidos }}</td>
                    <td>{{ autor.nacionalidad }}</td>
                    <td>{{ autor.descripcion }}</td>
                    <td>
                        <a href="{% url 'libro:editar_autor' autor.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'libro:eliminar_autor' autor.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No existen autores registrados</h1>
    {% endif %}

{% endblock body %}